<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @cliente.nome %>
</p>

<p>
  <strong>Email:</strong>
  <%= @cliente.email %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @cliente.endereco %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @cliente.complemento %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @cliente.bairro %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @cliente.cep %>
</p>

<p>
  <strong>Contato:</strong>
  <%= @cliente.contato %>
</p>

<%= link_to 'Editar', edit_cliente_path(@cliente) %> |
<%= link_to 'Voltar', clientes_path %>
