<p id="notice"><%= notice %></p>

<% if policy(@produtos_do_departamento).show?%>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td colspan="1"></td>
                <td>Nome</td>
                <td>Descrição</td>
                <td>Departamento</td>
                <td>Preço</td>
                <td>Quantidade</td>
                <td colspan="2"></td>
            </tr>
        </thead>
        <tbody>
            <% @produtos_do_departamento.each do |produto| %>
                <tr>
                    <td><%= image_tag(produto.image, class:"imagens") if produto.image.attached? %></td>
                    <td><%= produto.nome %></td>
                    <td><%= produto.descricao %></td>
                    <td><%= produto.departamento.nome %></td>
                    <td><%= produto.preco %></td>
                    <td><%= produto.quantidade %></td>
                    <td><%= link_to "Alterar", edit_produto_path(produto), class:"btn btn-default" %></td>
                    <td><%= button_to  "Remover", produto, method: :delete, class:"btn btn-danger", data: {confirm:"Tem certeza que deseja remover o produto #{produto.nome}?"} %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% else %>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td colspan="1"></td>
                <td>Nome</td>
                <td>Descrição</td>
                <td>Departamento</td>
                <td>Preço</td>
                <td colspan="1"></td>
            </tr>
        </thead>
        <tbody>
            <% @produtos_do_departamento.each do |produto| %>
                <tr>
                    <td><%= image_tag(produto.image, class:"imagens") if produto.image.attached? %></td>
                    <td><%= produto.nome %></td>
                    <td><%= produto.descricao %></td>
                    <td><%= produto.departamento.nome %></td>
                    <td><%= produto.preco %></td>
                    <td><%= button_to 'Adicionar ao Carrinho', line_items_path(produto_id: produto), class:"btn btn-default" %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>

<%= link_to "Voltar", departamentos_path, class:"btn btn-default" %>
